WebService3_Convert/ConvertApp/Web References/localhost/ConvertWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://localhost:44340" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://localhost:44340" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This is The Currency Conversion Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://localhost:44340">
      <s:element name="VND2USD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VND" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VND2USDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VND2USDResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VND2EUR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VND" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VND2EURResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VND2EURResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="USD2VND">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USD" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="USD2VNDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="USD2VNDResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EUR2VND">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EUR" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EUR2VNDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EUR2VNDResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VND2USDSoapIn">
    <wsdl:part name="parameters" element="tns:VND2USD" />
  </wsdl:message>
  <wsdl:message name="VND2USDSoapOut">
    <wsdl:part name="parameters" element="tns:VND2USDResponse" />
  </wsdl:message>
  <wsdl:message name="VND2EURSoapIn">
    <wsdl:part name="parameters" element="tns:VND2EUR" />
  </wsdl:message>
  <wsdl:message name="VND2EURSoapOut">
    <wsdl:part name="parameters" element="tns:VND2EURResponse" />
  </wsdl:message>
  <wsdl:message name="USD2VNDSoapIn">
    <wsdl:part name="parameters" element="tns:USD2VND" />
  </wsdl:message>
  <wsdl:message name="USD2VNDSoapOut">
    <wsdl:part name="parameters" element="tns:USD2VNDResponse" />
  </wsdl:message>
  <wsdl:message name="EUR2VNDSoapIn">
    <wsdl:part name="parameters" element="tns:EUR2VND" />
  </wsdl:message>
  <wsdl:message name="EUR2VNDSoapOut">
    <wsdl:part name="parameters" element="tns:EUR2VNDResponse" />
  </wsdl:message>
  <wsdl:portType name="Currency_x0020_ConversionSoap">
    <wsdl:operation name="VND2USD">
      <wsdl:input message="tns:VND2USDSoapIn" />
      <wsdl:output message="tns:VND2USDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VND2EUR">
      <wsdl:input message="tns:VND2EURSoapIn" />
      <wsdl:output message="tns:VND2EURSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="USD2VND">
      <wsdl:input message="tns:USD2VNDSoapIn" />
      <wsdl:output message="tns:USD2VNDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EUR2VND">
      <wsdl:input message="tns:EUR2VNDSoapIn" />
      <wsdl:output message="tns:EUR2VNDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Currency_x0020_ConversionSoap" type="tns:Currency_x0020_ConversionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VND2USD">
      <soap:operation soapAction="https://localhost:44340/VND2USD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VND2EUR">
      <soap:operation soapAction="https://localhost:44340/VND2EUR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="USD2VND">
      <soap:operation soapAction="https://localhost:44340/USD2VND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EUR2VND">
      <soap:operation soapAction="https://localhost:44340/EUR2VND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Currency_x0020_ConversionSoap12" type="tns:Currency_x0020_ConversionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VND2USD">
      <soap12:operation soapAction="https://localhost:44340/VND2USD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VND2EUR">
      <soap12:operation soapAction="https://localhost:44340/VND2EUR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="USD2VND">
      <soap12:operation soapAction="https://localhost:44340/USD2VND" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EUR2VND">
      <soap12:operation soapAction="https://localhost:44340/EUR2VND" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Currency_x0020_Conversion">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This is The Currency Conversion Web Service</wsdl:documentation>
    <wsdl:port name="Currency_x0020_ConversionSoap" binding="tns:Currency_x0020_ConversionSoap">
      <soap:address location="https://localhost:44340/ConvertWS.asmx" />
    </wsdl:port>
    <wsdl:port name="Currency_x0020_ConversionSoap12" binding="tns:Currency_x0020_ConversionSoap12">
      <soap12:address location="https://localhost:44340/ConvertWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>